/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 15, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 18, ../sass/screen.scss */
input {
  height: 35px;
  width: 400px;
  font: 14px Georgia, serif;
  padding: 0 5px;
  border: 1px solid #CCC;
  margin: 0;
}

/* line 26, ../sass/screen.scss */
button {
  text-transform: uppercase;
  height: 35px;
  background-color: #26201e;
  border: 0 none;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 0 0 10px;
  padding: 0 10px;
  color: #FFF;
}
/* line 36, ../sass/screen.scss */
button:hover {
  background-color: #777;
}

/* line 40, ../sass/screen.scss */
#userlist {
  padding: 50px 30px 0;
  color: #FFF;
  font: Times, serif;
  opacity: .75;
}
/* line 45, ../sass/screen.scss */
#userlist h2 {
  border-bottom: 1px solid #CCC;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
/* line 52, ../sass/screen.scss */
#userlist p {
  font-size: 15px;
  margin-bottom: 5px;
}

/* line 58, ../sass/screen.scss */
#sidebar {
  min-height: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  float: left;
  background: #26201e url("/images/sidebar-bg.png") repeat 0 0;
  -webkit-box-shadow: black 2px 0 3px;
  -moz-box-shadow: black 2px 0 3px;
  box-shadow: black 2px 0 3px;
}
/* line 68, ../sass/screen.scss */
#sidebar .logo {
  padding: 30px;
  width: 185px;
}

/* line 73, ../sass/screen.scss */
#chat {
  font: 14px Georgia, serif;
  margin-left: 250px;
  padding: 20px;
  width: auto;
}
/* line 78, ../sass/screen.scss */
#chat .pseudo {
  font-weight: bold;
}
/* line 81, ../sass/screen.scss */
#chat #chatEntries {
  width: auto;
  border: 3px solid black;
  min-height: 275px;
  max-height: 500px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 15px;
}
/* line 89, ../sass/screen.scss */
#chat #chatEntries .message {
  margin-bottom: 5px;
}
/* line 91, ../sass/screen.scss */
#chat #chatEntries .message img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* line 97, ../sass/screen.scss */
#chat #chatEntries em {
  font-style: italic;
}
